@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=cyrillic,cyrillic-ext,latin-ext');

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'sans-serif','arial';
    color: #333;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,p,a{
    font-size: inherit;
    font-weight: inherit;
}
li{
    list-style-type: none;
}
div{
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
footer{
    width: 100%;
    height: 70px;
    background:#333; 
}
.bold-text{
    font-weight: 600;
}
/*-------------------------*/
.wrapper{
    position: relative;
    background:#515860;
    width: 100%;
    box-sizing: border-box!important;
    overflow: hidden; 
}
#summary-content{
    max-width: 1000px;
    margin: 80px auto;
    border: 12px solid #2c6d40;
    background: #fff;
    padding: 30px 0;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
}
/*-------------side-bar------------*/
.side-bar{
    max-width: 30%;
    width: 100%;
    border-right: 2px solid #2c6d40;
    padding: 0 20px;
    box-sizing: border-box;
}
.side-bar__toggle-mobile{
    width: 40px;
    height: 40px;
    margin-left: auto;
    fill: #2e6c40;
    display: none;
}
.side-bar__toggle-mobile svg{
    width: 40px;
    height: 40px;
}
.side-bar_open{
    left: 20px!important;
    transition: left 0.4s;
}
.side-bar__header{
    position: relative;
}
.side-bar__header::before{
    display: block;
    content: "";
    width: 100%;
    position: absolute;
    top: 152px;
    background: #2c6d40;
    height: 1px;
}
.side-bar__header__logo--border{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: url(https://pp.userapi.com/c636623/v636623549/aca1/cipx7ARnL_8.jpg);
    background-size: cover;
}
.side-bar__header__logo {
    width: 120px;
    height: 120px;
    padding: 7px;
    display: block;
    margin: auto;
    border: 1px solid #2c6d40;
    border-radius: 50%;
}
.side-bar__header__surname{
    text-align: center;
    padding: 15px 10px 0 10px;
    font-size: 23px;
    text-transform: uppercase;
    font-weight: 300;
    color: #333;
    background: #fff;
    position: relative;
    margin: 0 19%;
}

.side-bar__header__name{
    text-align: center;
    padding: 0 10px 10px 10px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 500;
    color: #333; 
}
.side-bar__contacts{
    width: 100%;
    position: relative;
}
.side-bar__contacts svg{
    width: 100%;
    max-width: 35px;
}
.info-block{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
    border-bottom: 1px solid #2e6c40;
    padding-bottom: 11px;
}
.info-block__icon{
    width: 15%;
    fill:#2c6d40;
}
.info-block__icon svg{
    width: 25px;
    margin-top: 6px;
}
.info-block__title{
    width: 65%;
    min-width: 150px;
    text-align: center;
    text-transform: uppercase;
    color: #2c6d40;
    font-size: 14px;
    text-align: center;
    border: 1px solid #2c6d40;
    white-space: nowrap;
    padding: 2px 0;
    margin: auto;
    transition: all 0.4s;
    position: relative;
}
.info-block__title::after{
    content: '';
    position: absolute;
    top: 100%;
    left: -1px;
    border: solid transparent;
    border-width: 3px 4px;
    border-top-color: #2c6d40;
    border-right-color: #2c6d40;
}
.info-block__title:hover{
    background: #2c6d40;
    color: #fff;
    transition: all 0.4s;
}
.info-block__title-hover{
    cursor: pointer;
    user-select: none!important;
}
.info-block__list{
    width: 100%;
    margin-top: 20px;
    box-sizing: border-box;
    padding-left: 15px;
}
.list-item{
    position: relative;
    display: flex;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.list-item__icon svg{
    fill: #2c6d40; 
    width: 15px;
    margin: 3px 10px 0 0;
}
.list-item__text{
    font-size: 13px;
    margin-top: 2px;
}
/*-------------side-bar------------*/
/*-------------content------------*/
.content{
    max-width: 70%;
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
}
.content__toggle-mobile{
    width: 50px;
    height: 50px;
    margin: 10px auto;
    display: none;
}
.content__toggle-mobile svg{
    width: 40px;
    height: 40px!important;
    fill: #2c6d40;
}
.skils__sublist{
    position: relative;
    font-weight: 600;
}
.sublist__item{
    padding-left: 20px;
    font-weight: 600;
}
.list-item_experience{
    flex-wrap: wrap;
}
.sublist__item p{
    max-width: 75%;
    padding-top: 15px;

}
.date-work{
    margin-right: 30px;
    margin-left: auto;
    font-weight: 600;
}
.job-description{
    width:100%;
    padding: 0 0 0 10px;
}
.list-item__text_job-description{
    width: 100%;
    padding: 5px 30px;
}
/*-------------content------------*/
/*-------------------------*/
/*-------------------------*/
/*-------------------------*/
/*-------------------------*/
/*-------------------------*/
/*-------------------------*/
/*-------------------------*/
/*------------
sb_contact - c-contact
sb_about - c-about




-------------*/

@media(max-width:992px){
    .side-bar__header__surname{
        margin: 0 20px; 
    }
    .side-bar {
        max-width: 300px;
        width: 100%;
        border: 2px solid #2c6d40;
        position: absolute;
        background: #fff;
        z-index: 2;
        left: -400px;
        padding: 15px;
        transition: left 0.4s;
    }
    .content__toggle-mobile,
    .side-bar__toggle-mobile{
        display: flex;
    }
    .content {
        max-width: 100%;
        width: 100%;
    }
}
@media(max-width:768px){
    .sublist__item{
        padding-left: 0;
    }
    .sublist__item p {
        max-width: 95%;
    }
    .content {
        padding: 0 15px;
    }
}

