@import '../../styles/variables';

.sidebar {
  background: $mainBlueColor;
  color: $whiteColor;
  width: 300px;
  min-height: 100vh;
  box-shadow: 0 0 4px 2px #23151526;
  position: relative;

  &--info {
    position: absolute;
    width: 190px;
    padding: 10px;
    background: rgba(0, 0, 0, .5);
    top: 220px;
    right: 0;
  }

  &--name {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid $whiteColor;
  }

  &--prof {
    font-size: 18px;
    color: $whiteColor;
    font-weight: 300;
  }
}

.contact-block {
  width: 100%;
  padding: 15px;
  margin-top: 10px;

  &--head {
    display: flex;
    align-items: center;
  }

  &--icon {
    width: 40px;
    height: 40px;
    fill: $whiteColor;
  }

  &--title {
    color: $whiteColor;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 4px;
    margin-left: 11px;
  }

  &--text {
    margin-left: 50px;
    font-size: 13px;
    line-height: 22px;
  }

  &--link{
    display: block;
    width: 100%;
    color: $whiteColor;
    margin-left: 50px;
    font-size: 15px;
    line-height: 22px;
    text-decoration: underline;
    font-weight: 300;
  }
}
