@import '../../styles/variables';

.sidebar {
  background: $mainBlueColor;
  color: $whiteColor;
  width: 300px;
  box-shadow: 0 0 4px 2px #23151526;
  position: relative;
  margin-left: 30px;
  margin-top: 30px;
  border-radius: 10px;

  &--info {
    position: absolute;
    width: 80%;
    padding: 10px;
    background: rgba(0, 0, 0, .5);
    top: 200px;
  }

  &--name {
    font-size: 22px;
    font-weight: 600;
    color: $whiteColor;
  }

  &--prof {
    width: min-content;
    white-space: nowrap;
    font-size: 18px;
    color: $whiteColor;
    font-weight: 300;
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid $mainBlueColor
  }
}

.contact-block {
  width: 100%;
  padding: 15px;
  margin-top: 10px;

  &--head {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  &--icon {
    width: 20px;
    height: 20px;
    fill: $whiteColor;
  }

  &--title {
    color: $whiteColor;
    font-weight: 500;
    font-size: 20px;
    margin-left: 8px;
  }

  &--text {
    font-size: 13px;
    line-height: 22px;
  }

  &--link{
    display: block;
    width: 100%;
    color: $whiteColor;
    font-size: 15px;
    line-height: 22px;
    text-decoration: none;
    font-weight: 300;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    margin: 15px 15px 0;
    padding-bottom: 20px;

    &--user-photo {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      margin: 30px auto;
      object-fit: cover;
      border: 1px solid #e3e3e354;
      box-shadow: 0 0 4px 2px #23151526;
    }

    &--info {
      width: 220px;
      position: static;
    }
  }

  .contact-block {
    padding: 10px 30px;
  }
}
