@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap&subset=cyrillic,cyrillic-ext');
@import './styles/variables';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}


body {
  font-size: 14px;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

.main-container {
  max-width: 1440px;
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin: auto;
  background: $lightGrayColor
}
